.photo-column {
    background-color: rgb(219, 219, 119);
    height: 900px;

}

#photo-gallery{
    background-color: burlywood;
    height: 900px;

}

@media(min-width:575.98px){
    .vedio{
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}

@media(min-width:767.98px){
    .vedio{
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}

@media(min-width:991.98px){
    .vedio{
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
}

.photo.sm {
    width: 100%;
    height: 380px;
    background-color: cadetblue;
    margin-top: 20px;
    overflow: hidden;
}

.photo.big {
    width: 100%;
    height: 380px;
    background-color: cornflowerblue;
    margin-top: 20px;
    overflow: hidden;
}